html, body {
    overflow: auto;
    background-color: #1c1e21;
    color: white;
    font-family: Arial, sans-serif;
}
.searchCountry {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 1.5rem;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    outline-width: 0px;
    padding: 3px;
    padding-left: 10px;
    font-size: 1rem;
    animation-fill-mode: forwards;
}
.moveOnSubmit {
    top: 5%;
    animation: fade 1s ease;
    animation-fill-mode: forwards;
   
}
.searchCountry::placeholder {
    color: rgba(255, 255, 255, 0.8);
}
.flexContainer { 
    margin: 8% auto 0;
    overflow-x: scroll;
    height: 100%;
    width: 90vw;
    white-space: nowrap;
}

.mainLogo {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

.miniLogo {
    top: 4.5%;
    left: 27%;
    width: 4%;
    animation: fadeLogo 1s ease;
}

.flexContainer::-webkit-scrollbar {
    display: none;
}

@keyframes fade {
    from {
        top: 60%
    }
    to {
        top: 5%
    }
  }

  @keyframes fadeLogo {
    from {
        top: 35%;
        left: 50%;
        width: 30%;
    }
    to {
        top: 4.5%;
        left: 27%;
        width: 4%;
    }
  }